@media screen and (max-width: 1200px) {
  .cards {
    background-image: url("../img/background-1200.jpg");
  }

  .cards__wrapper_col-8 {
    gap: 15px
  }

  .cards__wrapper_col-10 {
    gap: 10px
  }
}

@media screen and (max-width: 768px) {
  .cards {
    background-image: url("../img/background-768.jpg");
  }

  .cards__container {
    height: calc(100% - 20px);
    padding: 10px;
  }

  .winner {
    padding: 100px 0 30px;
  }
}
